body {
    user-select: none;
    background-color: darkkhaki;
  }
  .flex-container {
    height:100vh; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap:wrap-reverse;
  }
  .flex-block {
    display: flex;
    flex-direction: row;    
  }
  .block-calcul{
    display: inline-flex;
    flex-direction: column;
    background-color: coral;
  }
  .flex-element {
    width: 20px;
    height: 20px;
    padding:10px;
    margin: 5px;
    color:firebrick;
    background-color: gold;
    border-radius: 3px;
  }
  .input{
    height: 30px;
    width: 200px;
  }